:root {
	font-size: 16px;
	font-family: 'Open Sans';
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--transition-speed: 600ms;
  }

body {
	background-image: linear-gradient(to bottom right, #0099ff, #ccff33);
}

.testo{
	font-size: 24px;
	font-family: Impact;
	color:#C11B17
}


* {
	box-sizing: border-box;
}

/* scrooll bar*/

body::-webkit-scrollbar {
	width: 0.3cm;
}

body::-webkit-scrollbar-track {
	background: rgba(17, 17, 17, 0.8);
}

body::-webkit-scrollbar-thumb {
	background: rgba(166, 171, 175, 0.9);
	border-radius: 40px;
}

/* Media adaptation*/

@media only screen and (min-width: 1000px) {
	
}

@media only screen and (max-width: 500px) {

}

<<<<<<< HEAD
/*Lecini*/
*{
    margin: 0;
    padding: 0;
}
=======

>>>>>>> 9bd25fa2833e870ab573b3a805da7a9992763816
.colore-importante{
    color: tomato;
}
#informazioni .contenitore{
    display: flex;
    justify-content: center;
    padding: 30px 10px;
}
#informazioni img{
    width: 50%;
    margin: auto;
    border-radius: 50%;
}
#informazioni .info-s{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#informazioni .info-s h1{
    font-size: 2rem;
    padding-bottom: 12px;
}
#informazioni .info-d{
    flex: 1;
    display: flex;
   
}

.dark {
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: scroll;
	background-size: 100% 100%;
	background-color: rgb(70, 69, 69);
	color: white;
  }
  
  .light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: scroll;
	background-size: 100% 100%;
	background-color: rgba(226, 229, 231, 0.658);
	color: black;
  }

  .dark #darkIcon {
	display: block;
  }
  
  .light #lightIcon {
	display: block;
  }